body { 
	background-color: #2d2d2d;
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	font-style: normal;
	overflow-x: hidden;
	overflow-y: hidden;
}

label {
	color: white;
}

canvas {
	background-color: #222;
}

#timbreSpacePad {
	width: 100%;
	position:relative;
}

#timbreSpacePadWrapper {
	margin-top: 0px;
}

#timbreSpaceBgPad {
	z-index: -1;
	position: absolute;
	opacity: 0.5;
	filter: blur(50px);
	width: 100%;
	height: 100%;
}

#presetMetadata {
	margin-top: 10px;
	margin-right: 10px;
}

#presetTitle {
	white-space: nowrap;
}

#header {
	height: 115px;
	font-size: 12px;
	padding-top: 15px;
	width: 100%;
	text-align: center;
	color: white;
}

#header img {
	width: 350px;
	margin-bottom: 5px;
}

#header a {
	color: white;
}

#bottomPanel {
	bottom: 0px;
	position: fixed;
	opacity: 0.8;
	text-align: center;
	padding: 10px;
	background-color: #222;
	color: white;
	overflow: scroll;
}

#bottomPanelToggleControls {
	float: left;
}

#bottomPanelToggleControls a {
	color: white;
	text-decoration: none;
}

#midiSettings {
	color: white;
}

#midiSettings label {
	margin-right: 5px;
}

#fileinput {
	color: white;
}

#uiBlocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}

#uiBlocker div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 2em;
    margin: -1em 0 0 -2.5em;
    color: #fff;
    font-weight: bold;
}

#uiBlocker img {
    position: relative;
    top: -55px;
    left: 15%;
}

#mainControlsWrapper {
	overflow: scroll;
	color: white;
}

#mainControlsWrapper .controlsRow {
	white-space: nowrap;
	/*background-color: #222;
	border: 1px solid #222;*/
	border-radius: 10px;
	margin-bottom: 4px;
	display: inline-block;
	padding-right: 0px;
	padding-left: 0px;
}

#mainControlsWrapper .controlsRow .control {
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: center;
	/* size attributes are set on JS */
}

#mainControlsWrapper .controlsRow .control .slider .slider-selection {
	background: #ccc;
}

#mainControlsWrapper .controlsRow .control .slider .slider-track {
	background: #ccc;
}

#mainControlsWrapper .controlsRow .control.redColor .slider .slider-handle {
	background: rgb(190, 60, 55);
}

#mainControlsWrapper .controlsRow .control.greenColor .slider .slider-handle {
	background: rgb(47, 110, 90);
}

#mainControlsWrapper .controlsRow .control.yellowColor .slider .slider-handle {
	background: rgb(255, 246, 116);
}

#mainControlsWrapper .controlsRow .control.grayColor .slider .slider-handle {
	background: rgb(230, 230, 230);
}

#mainControlsWrapper .controlsRow .control.blackColor .slider .slider-handle {
	background: rgb(0, 0, 0);
}

#mainControlsWrapper .controlsRow .control.whiteColor .slider .slider-handle {
	background: rgb(250, 250, 250);
}

#mainControlsWrapper .controlsRow .control .slider .slider-tick.round {
	/* Customize slider ticks */
	border-radius: 0px;
	height: 1px;
	margin-top: 0px;
	background: #eee;
	z-index: 0;
	width: 26px;
	margin-left: -3px;
}

#mainControlsWrapper .controlsRow .control .slider .slider-tick.round.in-selection {
	/* Customize slider ticks */
	background: #eee;
}

#mainControlsWrapper .controlsRow .control .slider .slider-track {
	border-radius: 2px;
}

#mainControlsWrapper .controlsRow .control .slider.slider-vertical .slider-track {
	border-radius: 0px;
	width: 8px;
	left: 6px; /* (20px-8px)/2 */ 
}

#mainControlsWrapper .controlsRow .control .slider.slider-vertical .tooltip {
	pointer-events: none;
}

#mainControlsWrapper .controlsRow .control select {
	/* size attributes are set on JS */
}

#mainControlsWrapper .controlsRow .control .labelDiv {
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	/* size attributes are set on JS */
}
